
h5 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 17px;
}

.caja {
    display: flex;
    flex-direction:row;
    border-radius: 20px;
    padding : 10px 0 10px 25px;
    border-width: 2px 2px 2px 10px;
    border-style: solid;
    margin: 20px 0;
}

.caja div {
    width: 90%;
}

.caja button {
    width: 10%;
}

#verde {
    background-color: #C4F6DC;
    border-color:  #4ABA7E;
}

#verde h5,
#verde button {
    color: #4ABA7E;
}

#amarillo {
    background-color: #FBE8CA;
    border-color: #DA9F3E;
}

#amarillo h5 ,
#amarillo button{
    color: #DA9F3E;
}

#roja {
    background-color: #FACCC7;
    border-color: #E9594E;
   
}

#roja h5,
#roja button {
    color: #E9594E;
}

button {
    background: transparent;
    border-color: transparent;
}

.negritas {
    /**/
}

#calcularBTN {
    background: purple;
    color: white;
    border-radius: 20px;
}

.fila {
    margin: 10px 0;
}
