<ion-app mode="ios">
    <!--
        <ion-header>
        <ion-toolbar>
            <ion-title>
                <ion-label>Sfotipy</ion-label>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    -->
    <ion-content>

        
       <!-- <ion-button [routerLink]="'/ticket'">Ticket</ion-button>
        <ion-button [routerLink]="'/compras'">Compras</ion-button>-->
        <app-tabs></app-tabs>
        <router-outlet></router-outlet><!--importante localizar aquí-->

        
    </ion-content>
</ion-app>