<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="4" size="12">
      
      
      <div id="ticketCompra">
        <p>========TU TICKET DE COMPRA=======</p>
        <ul>
          <div *ngFor="let articulo of articulos">
            <li *ngIf="articulo.monto !== 0 && articulo.descripcion !== ''">
              <div>
                <span>{{articulo.descripcion}}</span>
                <span>{{articulo.monto}}</span>
              </div>
            </li>  
          </div>
          
        </ul>
        
        <p id="total">Total: ${{total}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>