<div>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4" size="12">
        
        
       <ion-card>
        <ion-card-title>
         <ion-label>** Tu ticket de compra **</ion-label>
        </ion-card-title>
        <ion-card-content>
          <div id="ticketCompra">
           
            <ul>
              <div *ngFor="let articulo of articulos">
                <li *ngIf="articulo.monto !== 0 && articulo.descripcion !== ''">
                  <div>
                    <span>{{articulo.descripcion}}</span>
                    <span>${{articulo.monto}}</span>
                  </div>
                </li>  
              </div>
              
            </ul>
            
            <p id="total">Total: ${{total}}</p>
          </div>
        </ion-card-content>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>