<ion-content>
    <div class="encabezado">
        <ion-avatar>
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="" routerLink="perfil" width="50px" height="50px"  routerLink="perfil">
        </ion-avatar>
        <h2 class="italico">Tu librería</h2>
        <ion-icon name="add-outline" id="abrirModal"></ion-icon>
    </div>
    
    <ion-modal trigger="abrirModal">
        <ng-template>
            <ion-content>
                <p class="negritas">Crear una nueva playlist</p>
                <div>
                    <ion-input class="blanco" [(ngModel)]="nombrePlaylist"></ion-input>
                    <ion-button class="verde" (click)="crearPlaylist(nombrePlaylist)">Crear playlist</ion-button>
                </div>
            </ion-content>
        </ng-template>
    </ion-modal>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let playlist of playlists$ | async">
                        <ion-label class="italico">{{playlist.nombre}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>