ion-header {
    text-align: center;
}
ion-header ion-toolbar ion-title {
    background-color: var(--ion-background-color);
    color: var(--ion-color-primary);
}

form ion-label {
    color: #fff;
    font-weight: 700;
}

form ion-input {
    --background: var(--gris-oscuro);
    --padding-bottom: 15px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 15px;

    border-radius: 8px;
}
form ion-input .helper {
    color: #FFF;
}
ion-radio-group, ion-radio-group ion-radio {
    color: #ddd;
}

.caja-flex {
    display :flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.caja-flex .heading{
    flex: 1 0 auto;
}

#terminosycondiciones {
    width: 100%;
}

#terminosycondiciones .leyenda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 768px){
    #terminosycondiciones {
        width: 50%;
    }
}