<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <div class="caja-flex">
                    <div *ngIf="(login && paso== 2) || (!login && paso==2) || (login && paso== 3)" class="volver">
                        <ion-button class="transparente" (click)="regresarPaso(1)">
                            <ion-icon name="chevron-back-sharp"></ion-icon>
                            Volver
                        </ion-button>
                    </div>
                    <div class="heading">
                        <ion-label *ngIf="!login">Crear una cuenta</ion-label>
                        <ion-label *ngIf="login">Inicia sesión</ion-label>
                    </div>
                    
                    
                </div>
            </ion-title>
            
        </ion-toolbar>
    </ion-header>
    
    <form *ngIf="login">
        <ion-grid>
            <ion-row id="paso1" *ngIf="login && paso == 1">
                <ion-col>
                    <ion-label>¿Cuál es tu correo?</ion-label>
                    <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
                    <ion-button class="verde" (click)="siguientePaso(2)">Siguiente</ion-button>
                </ion-col>
            </ion-row>
            <ion-row id="paso2" *ngIf="login && paso == 2">
                <ion-col>
                    
                    <ion-label>¿Cuál es tu contraseña?</ion-label>
                    <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
                    <ion-button class="verde" (click)="iniciarSesion(usuario, password)">Iniciar Sesión</ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="mensajeUsuario">
                <ion-col>
                    <p class="negritas error">{{mensajeUsuario}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    
    
    <form *ngIf="!login">
        <ion-grid>
            <ion-row id="paso1" *ngIf="!login && paso == 1">
                <ion-col>
                    <ion-label>¿Cuál es tu correo?</ion-label>
                    <ion-input type="text" [(ngModel)]="emailNuevoUsuario" name="emailNuevoUsuario" required></ion-input>
                    <ion-button class="verde" (click)="siguientePaso(2)">Siguiente</ion-button>
                </ion-col>
            </ion-row>
            <ion-row id="paso2" *ngIf="!login && paso == 2">
                <ion-col>
                    <ion-label>Elige tu contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="passwordNuevoUsuario" name="passwordNuevoUsuario" required></ion-input>
                    <ion-button class="verde" (click)="siguientePaso(3)">Siguiente</ion-button>
                </ion-col>
            </ion-row>
            <ion-row id="paso3" *ngIf="!login && paso == 3">
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-label>¿Cómo te llamas?</ion-label>
                                <ion-input type="text" [(ngModel)]="nombreNuevoUsuario" name="nombreNuevoUsuario" required></ion-input>
                            </ion-col>
                            
                            <div class="divisor"></div>
                            
                        </ion-row>
                        <ion-row>
                            <div id="terminosycondiciones">
                                <p>Acepta los términos y condiciones</p>
                                <p class="verde">
                                    Términos de Uso
                                </p>
                                <div class="leyenda">
                                    <p>Acepto los términos de uso y políticas de privacidad de mi app de música.</p>
                                    <ion-radio-group value="strawberries" required>
                                        <ion-radio value="si" labelPlacement="start">Acepto los términos de uso y políticas de privacidad de mi app de música.</ion-radio><br/>
                                    </ion-radio-group>
                                </div>
                            </div>
                            
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <div>
                                    <ion-button class="blanco" (click)="crearCuenta(emailNuevoUsuario, passwordNuevoUsuario, nombreNuevoUsuario)">Crear cuenta</ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="mensajeUsuario">
                <ion-col>
                    <p class="negritas error">{{mensajeUsuario}}</p>
                    <div>
                        <ion-button class="transparente" routerLink="landing">
                            Regresar a login
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>