<ion-grid>
    <ion-row>
        <ion-col offset-md="2" size-md="8" size="12">
            <h2>Ticket de Compra</h2>
            <ion-row>
                <ion-col size-md="2" size="11">
                    <ion-label>Articulo</ion-label>
                </ion-col>
                <ion-col size-md="10" size="12">
                    <ion-input placeholder="Ejemplo: Libro" id="articulo"></ion-input>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col size-md="2" size="11">
                    <ion-label>Precio:</ion-label>
                </ion-col>
                <ion-col size="12" size-md="10" >
                    <ion-input id="precio" type="number" placeholder="Ejemplo: $50"></ion-input>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col size="12">
                    <ion-button (click)="agregarAticket()">Calcular total</ion-button>
                    
                </ion-col>
                <ion-col size="12">
                    <ion-button (click)="presentaAlerta()">Ver Alerta</ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>

