<ion-content>
    <div id="background"></div>
   
    <ion-grid>
        <ion-row class="centrar">
            <ion-col>
                <h2>Millones de canciones en un solo lugar</h2>
                
            </ion-col>
        </ion-row>
       
        <ion-row>
            <ion-col class="centrar">
                <ion-button class="verde" [routerLink]="['/cuenta', 'registro']">Regístrate gratis</ion-button>
                <ion-button class="negro" [routerLink]="['/cuenta', 'login']">Iniciar Sesión</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>