<ion-content>
    <h2>Busca</h2>
<ion-searchbar class="blanco" placeholder="Buscar"></ion-searchbar>
<div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p class="italico">Búsquedas recientes</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label>FKA twigs</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="italico">Géneros</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card [routerLink]="['/generos', 'pop']">
                    <ion-card-title>Pop</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="['/generos', 'pop']">
                    <ion-card-title>Indie</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="['/generos', 'pop']">
                    <ion-card-title>Reggaetón</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="['/generos', 'pop']">
                    <ion-card-title>Rock</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="6" [routerLink]="['/generos', 'pop']">
                <ion-card>
                    <ion-card-title>Clásica</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="['/generos', 'pop']">
                    <ion-card-title>Ritmos latinos</ion-card-title>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-content>