<ion-content>
    <ion-grid>
        <ion-row id="usuario">
            <ion-grid>
                <ion-row>
                    <ion-col class="avatar">
                        <ion-avatar>
                            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="" routerLink="perfil" width="50px" height="50px">
                        </ion-avatar>
                        <div>
                            <ion-button class="gris" id="cambiarFotoBtn">
                                Cambiar foto
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row id="datos-usuario">
                    <ion-col>
                        <div>
                            <p class="valor">23</p>
                            <p class="titulo">playlists</p>
                        </div>
                        
                    </ion-col>
                    <ion-col>
                        <div>
                            <p class="valor">23</p>
                            <p class="titulo">seguidores</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        
                        <div>
                            <p class="valor">23</p>
                            <p class="titulo">siguiendo</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
        
        
        <ion-row id="playlists">
            <ion-col>
                <h2 class="italico">Playlists</h2>
                <ion-grid id="grid-playlists">
                    <ion-row>
                        <ion-col>
                            <ion-list id="listaPlaylists" *ngFor="let playlist of playlists$ | async">
                                <ion-item>
                                    <ion-label class="italico">{{playlist.nombre}}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-modal trigger="cambiarFotoBtn">
           <ng-template>
            <app-cambiar-foto></app-cambiar-foto>
           </ng-template>
        </ion-modal>
    </ion-grid>
</ion-content>