<div id="background"></div>
<!--
    <img src="../../assets/bginicio.png" alt="albums" width="389px" height="300px">
-->
<ion-grid>
    <ion-row>
        <ion-col>
            <h2>Millones de canciones en un solo lugar</h2>
            
        </ion-col>
    </ion-row>
    <!--
        <ion-row>
            <ion-nav [root]="component"></ion-nav>
        </ion-row>
    -->
    <ion-row>
        <ion-col class="centrar">
            <ion-button class="verde" [routerLink]="['/cuenta', 'registro']">Regístrate gratis</ion-button>
            <ion-button class="negro" [routerLink]="['/cuenta', 'login']">Iniciar Sesión</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid>
    <ion-row>
        <ion-col class="izquierda">
            <h3 class="negritas">Escuchados recientemente</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
            <div class="cuadro">
                <img src="" alt="">
                <p>Nombre artista</p>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="cuadro">
                <img src="" alt="">
                <p>Nombre artista</p>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="cuadro">
                <img src="" alt="">
                <p>Nombre artista</p>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="cuadro chico">
                <img src="" alt="">
                <p>Nombre artista</p>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h2 class="negritas italico">Mis playlists</h2>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
            <div class="cuadro grande">
                <img src="" alt="">
                <p>Nombre artista</p>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>